.head{
    text-align: center;
}
h1{
    font-size: 42px;
    text-shadow: 2px 2px rgb(167, 121, 212);
}
.btns{
    display: flex;
    justify-content: center;
}
button{
    background-color: rgb(137, 224, 217);
    padding: 50px;
    border: 3px solid rgb(73, 199, 105);
    margin: 20px 20px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 10px 10px 5px 5px rgb(67, 181, 226);
    border-radius: 20px;
}
button:hover{
    transform: scale(1.2);
}
button:active{
    transform: scale(1.1);
    border: 3px solid red;
    box-shadow: 10px 10px 10px 5px rgb(219, 50, 44);
    color: red;
    background-color: aqua;
}
ul{
    list-style: none;
    display: flex;
    
}
@media only screen and (max-width: 1200px) {
    ul{
        display: block;
    }
  }